{
	order starlark before file_server
}

(starlark) {
	starlark {
		root examples/handlers
		# Never use this value in production.
		secret_key 8ktd0Znpg4F0PqhIEnTOi0wdBBvRnFyM
	}
}

:8080 {
	log

	root examples/
	import starlark
	file_server

	handle_errors {
		rewrite * /error.star
		import starlark
	}
}
